*{
    font-family: Garmond;
    text-align: center;
}
header,
footer{
background-color: #8c7b57;
color: white;
height: 70px;
font-size: 150%;
}
aside{
    background-color: #bcaaa4;
    height: 400px;
    width: 30%;
    float: left;
}
main{
    background-color: #efdcd5;
    height: 400px;
    width: 30%;
    float: left; 
}
ol{
    list-style: lower-latin;
}
li{
    text-align: left;
}
img{
    border: 1px dashed #8c7b57 ;
    padding: 5px;
    border-radius: 10%;

}
main >p {
margin-top: 100px;
border: 1px solid #8c7b57;
}
footer{
    clear: both;
}